.row.contact
  hr
  .large-12.columns
    h4 Contact Me
    .large-4.columns
      strong Email
      | : 
      a(href='#')
        span.__cf_email__(data-cfemail='bad7dffad7c3cad5c8cedcd5d6d3d594d9d5d7') [email protected]