.row.work
  hr
  .large-12.columns
    h4 Work
    p Click on each image to view my work!
    ul.clearing-thumbs.small-block-grid-1.medium-block-grid-2.large-block-grid-4(data-clearing='')
      li
        a(href='http://placehold.it/550x300')
          img(data-caption='caption here', src='http://placehold.it/550x300')
      li
        a(href='http://placehold.it/550x300')
          img(data-caption='caption 2 here...', src='http://placehold.it/550x300')
      li
        a(href='http://placehold.it/550x300')
          img(data-caption='caption 3 here...', src='http://placehold.it/550x300')
      li
        a(href='http://placehold.it/550x300')
          img(data-caption='caption 4 here...', src='http://placehold.it/550x300')